# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Alina\PCC Class Note\CS\C++\CS 08 retake\sfml\Text_Input_object_in_SFML\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
